*, *::before, *::after {
   box-sizing: border-box;
   margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.card {
  width: 400px;
}

.card__content {
  text-align: center;
  position: relative;
  padding: 5em;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateY(.5turn);
}

.card__front, .card__back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card__front {
  background: lightgreen;
}

.card__title {
  font-size: 3rem;
  transform: translateZ(5rem)
}

.card__subtitle {
  transform: translateZ(2rem);
}

.card__body {
  transform: translateZ(2rem);
}

.card__back {
  transform: rotateY(.5turn);
  background: lightblue;
}